# Dependencies & Environments
node_modules/
.venv

# Environment Variables
.env
.env*.local

# Build & Temp Outputs
dist/
build/
TEMPPDF/
qdrant_db/
*.lock
*.meta.json
*.storage
*.sqlite
*.db

# Python
__pycache__/
*.pyc

# IDEs & System Files
.vscode/
.DS_Store

# Agent / Tool Configurations
.agents
.agentconfig
GEMINI.md